<h1><%= @user.email %>'s Events</h1>

<div class="created-events">
  <h2>Created Events</h2>
  <%= render partial: 'events/events',
             locals: { events: @user.created_events } %>
</div>

<div class="attended-events">
  <h2>Attending Events</h2>
  <%= render partial: 'events/events',
             locals: { events: @user.attended_events } %>
</div>
