<h3>Past Events</h3>
<% events.past.each do |event| %>
  <%= render partial: 'events/event', locals: { event: event } %>
<% end %>

<h3>Upcoming Events</h3>
<% events.upcoming.each do |event| %>
  <%= render partial: 'events/event', locals: { event: event } %>
<% end %>
