<h2>Upcoming Events</h2>
<div class="events">
  <% events.upcoming.each do |event| %>
    <%= render partial: 'events/event', locals: { event: event } %>
  <% end %>
</div>

<h2>Past Events</h2>
<div class="events">
  <% events.past.each do |event| %>
    <%= render partial: 'events/event', locals: { event: event } %>
  <% end %>
</div>
