<h2>Upcoming Events</h2>
<% events.upcoming.each do |event| %>
  <%= render partial: 'events/event', locals: { event: event } %>
<% end %>

<h2>Past Events</h2>
<% events.past.each do |event| %>
  <%= render partial: 'events/event', locals: { event: event } %>
<% end %>
