<h2>Attendees: </h2>

<% if attendees.any? %>
  <ul class="attendees">
    <% attendees.each do |attendee| %>
      <li><%= attendee.email %></li>
    <% end %>
  </ul>
<% else %>
  <p>No attendees currently.</p>
<% end %>
